<div class="container-kids">
  <div class="row">
    <h2 class="header">Horizontal Card</h2>
    <% @membres.each do |membre|  %>
      <div class="col s12 m7">
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="<%= membre.id %>"><%= membre.fisrt_name %></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

