<div class="container-new">
  <div class="card">
      <%= image_tag 'arrow.png', height: 20, class: 'card-arrow' %>
      <%= image_tag 'cross.png', height: 15, class: 'cross' %>
    <div class="annonce" id="new-membrer-header" ><h1>Identité <br> du compte virtuel</h1>
        <%= image_tag 'pagination.png', height: 10, class: 'pagination-pics' %>
    </div>
    <div class="card-user" >
      <%= image_tag 'photo.png', height: 40 , class: 'camera'%>
    </div>
  </div>



</div>
