<div class="main-container-profilecreation">

  <div class="header-profilecreation">
      <p>&#x2501; &nbsp;<%=@membre.fisrt_name%>&nbsp;  &#x2501;</p>
      <% @membre.pockets.each do |pocket| %>
        <div class="chip left blue">
          <%= pocket.name %> <i class="close material-icons">close</i>
       </div>
      <% end %>

  </div>
  <div class="content-profilecreation">
    <h4>Créez-lui ses premières poches</h4>
    <%= simple_form_for @pocket, url: page_membre_pockets_path(@user, @membre) do |f| %>
      <div class="form-group string optional pocket_name">

        <input class="form-control string optional" placeholder="Titre de la poche (général)" type="text" name="pocket[name]" id="pocket_name">
      </div>
      <div class="row">
        <div class="btn-container">
          <%= f.submit "Ajouter la poche" %>
        </div>
      </div>
      <% end %>
  </div>

  <div class="footer-buttons">
    <div class="right" >
      <a href="../transferts/new" class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons">arrow_forward</i>
      </a>

    </div>

    <a href="javascript:history.back()">
      <i class="material-icons">arrow_back</i>retour
    </a>

  </div>

</div>
