<div class="grey-b">

  <div class="header-profilecreation">
    <div class="col s10">
      <div class="header-profilecreation-name">
       <h4><%= @membre.fisrt_name %>Raphael</h4>
      </div>
    </div>
    <div class="header-profilecreation-photo col s2">
      <%= image_tag 'teen.jpg', height: 40, width: 40, class: "img-circle"%>
    </div>

  </div>

  <div class="container-poche-creation">
    <div style="margin: 0 auto" id="test1" class="pocket">
      <%= image_tag 'visa-card.png', class: 'vise-pics' %>
    </div>
  </div>
</div>


<div class="main-container-profilecreation">
  <div class="content-profilecreation">
    <h3 style="margin: 20px;
    font-size: 20px;" >Entrez l'adresse de livraison</h3>
    <h5>Pour recevoir la carte Family Wallet de Raphäel</h5>
  </div>



  <div style="bottom: -60px;" class="footer-buttons">
    <div class="left">
    <a href="javascript:history.back()">
      <i class="material-icons">arrow_back</i>retour
    </a>
    </div>
  </div>

</div>
