<%= render 'shared/navbar' %>
<% if @user.membres.empty? %>
  <p>Aucun Membre dans ma famille :-(</p>
  <div class="btn-checkboxe">
  <p>

  <%= link_to "Ajouter un Membre à ma famille", new_page_membre_path %>
  </p>
  </div>
<% else %>
<div class="btn-checkboxe">
  <p>

  <%= link_to "Ajouter un Membre", new_page_membre_path %>
  </p>
  </div>
    </div>
<% end %>
<hr>

