.service_description {
  textarea {
    border-radius: 5px;
    border: 1px solid #0000003d;
    height: 130px;
    color: #00000096;
  }
}
.border-bottom {
  border-bottom: 2px solid #7B7B7B;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  color: #7B7B7B !important;
}
