.ask-container {
  height: 280px;
  top: 44%;
  position: absolute;
  width: 100%;
  padding: 5px 10px;
  p {
    color: black;
    font-weight: 600;
  }
}
#ask_for_dollar_description {
  background-color: white;
  opacity: 1;
  height: 220px;
}
::placeholder {
  opacity: 0.6;
}
