
<div class="container-fluid">
    <%= image_tag 'Logo_V1.png', id:"logo_wf" %>

  <%= link_to new_user_session_path, class: 'no-text-decoration' do %>
    <div class="button-wf" id="connection">
      <a>Connection</a>
    </div>
  <% end %>
  <%= link_to new_user_registration_path, class: 'no-text-decoration' do %>
    <div class="button-wf" id="connection">
      <p>Créer <br> Mon Family Wallet</p>
    </div>
  <% end %>
</div>
