<div class="header"> Membre de La famille </div>

<div id="images">
  <div class="image card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-category">
      <p>category</p>
    </div>
    <div class="card-description">
      <h2>Ma Famille: Didier</h2>
      <p>Crédit Familliale:</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <a class="card-link" href="#" >aaaaaaa</a>
  </div>
  <div class="image card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-category">
      <p>category</p>
    </div>
    <div class="card-description">
      <h2>Ma Famille: Didier</h2>
      <p>Crédit Familliale:</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <a class="card-link" href="#" >aaaaaaa</a>
  </div>
  <div class="image card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-category">
      <p>category</p>
    </div>
    <div class="card-description">
      <h2>Ma Famille: Didier</h2>
      <p>Crédit Familliale:</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <a class="card-link" href="#" >aaaaaaa</a>
  </div>
  <div class="image card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-category">
      <p>category</p>
    </div>
    <div class="card-description">
      <h2>Ma Famille: Didier</h2>
      <p>Crédit Familliale:</p>
    </div>
    <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <a class="card-link" href="#" >aaaaaaa</a>
  </div>
</div>
