.birthday-date {
  position:relative;
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
}
.membre_day {
  position: absolute;
  bottom: 0px;

}
.select {
  border-bottom: none !important;
  box-shadow: 0px 0px 10px 0px #00000029;
  border-radius: 0px;
}
.membre_month {
  position: absolute;
  bottom: 0px;
  left: 90px;
}
.membre_year {
  position: absolute;
    bottom: 0px;
    left: 230px;

}
.label-birthday {
  position: absolute;
  p {
    color: black;
    font-weight: 700;
    font-size: 12px;
  }
}
#new-membrer-header {
  color: black;
  text-shadow: none;
  font-weight: 500;
  h1 {
  padding: 0px 35px;
  font-size: 30px !important;
  }

}

.photo-container {
  text-align: center;
}

.form_container-new {
  height: 65vh;
  margin: 10px 20px 0px 20px;
  p {
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0px;

  }
  .form-group {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0px;
  }

}
#btn-new-membre {
  position: relative;
}
.pagination-pics {
   position: absolute;
   left: 35px;
   width: 20%;
   height: 10%;
   top: 67px;
}

.form-inputs-new {
  opacity: 0.7;
}

.form-header {
  position: relative;
  display: flex;
  height: 20vh;
}
.cross {
  position: absolute;
  right: 0px;
  top: 5px;
}
#membre_sexe{
  display: inline-block;
}

#new-header {
  font-weight: 100 !important;
  margin-bottom: 8vh;
  color: black !important;
}
#coordonees-new {
  margin-bottom: 16vh;
}

#user_fisrt_name {
  left: 0;
  background-color: $light-gray;
  border: 2px solid gray;
  border-bottom: 2px solid $gray !important;
  height: 50px;
  position: inherit;
  width: 260px;
}
::placeholder {
  color: black !important;
  font-size: 16px;
  font-weight: 400 !important;
}
#user_last_name {
  left: 0;
  background-color: $light-gray;
  border: 2px solid gray;
  border-bottom: 2px solid $gray !important;
  height: 50px;
  position: inherit;
  width: 260px;
}
#user_mail {
  left: 0;
  background-color: $light-gray;
  border: 2px solid gray;
  border-bottom: 2px solid $gray !important;
  height: 50px;
  position: inherit;
  width: 260px;
}
#user_phone_numbre {
  left: 0;
  background-color: $light-gray;
  border: 2px solid gray;
  border-bottom: 2px solid $gray !important;
  height: 50px;
  position: inherit;
  width: 260px;
}

.upload-picto {
  position: absolute;
  right: 0;

}
.telecharger {
  display: flex;
  position: relative;
  p {
    margin-top: 15px;
    font-size: 16px;
  }
}

.input-div {
  display: flex;
  position: relative;
  opacity: 0.6;
  color: black;

}

#validate {
  font-weight: 600;
  color: white;
  margin: 9vh 11vw 0vh 11vw;
}

#icone-new {
  margin: 20px 10px;
  right: 10px;
  position: absolute;
  opacity: 0.6;
}
.btn-checkboxe {
    float: left;
    text-align: center;
    border: 1px solid #F2F2F2;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 1px 11px -5px $light-gray;
  p {
    font-size: 16px;
  }


}
.compte-btn {
  margin: 6% 15%;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  p {
    color: black;
    line-height: 2;
    font-weight: 500;
    padding: 7px 28px;
    font-size: 14px;
  }
}

// Pages Testing.html.erb
.container-bulle {
  margin: 80px 20px 0px 20px;
  height: 25vh;
  text-align: center;
  h3 {
    text-align: left;
    color: black;
    letter-spacing: -1px;
    font-size: 28px;
    font-weight: 500;
  }
  img {
    margin-top: 40px;
  }
}
.first-name-container {
  margin-top: 10px;
  text-align: center;

  p {
    font-weight: 700;
    color: black;
  }
  .undername {
    border: 1px solid black;
    width: 5%;
    margin: -10px auto;
  }
}

.form-plus {
  border-bottom: 1px solid gray !important;
}

.isactive {
  p {
    color: white !important;
  }
  border: none;
  background: linear-gradient(to right, #015592 , #00406F);
}
