// Header de la création profile
.main-container-profilecreation {
  text-align: center;
  height: 80vh;
  margin: 0px 15px;
  h3 {
    font-size: 26px;
    margin: 5vh 2vh 15vh 15%;
    color: black;
    font-weight: 700;
  }
}
.grey-b {
  background: linear-gradient(#e0e0e000, #d3d3d340)
}
.container-poche-creation {
  margin: 0 auto;
}

#sexe-choice {
  padding: 0px 7% !important;
}

.header-profilecreation {
  position: relative;
  height: 10vh;
  text-align: center;
  padding-top: 10px;
  color: black;
  font-weight: 500;
}
.header-profilecreation-name {
  position: absolute;
  left: 0px;
  bottom: 0px;
  h4 {
    font-size: 30px;
    font-weight: 700;
    margin: unset;
    padding-left: 10px
  }

}
.header-profilecreation-photo {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
// Vision des choix des modes paiements
.content-profilecreation {
  margin: 0px 20px;
  height: 52vh;
  background-color: white;
  h5 {
    color: #333;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 25px;;
  }
  h4 {
    color: black;
    font-weight: bold;
    font-size: 24px;
  }
  #input-mode {
    height: 35px;
    p {
    color: #d8d8d8;
    font-weight: 400;
    }
  }
}
.selected-mode {
  p {
    height: 35px;
    color: black !important;
    font-weight: 700 !important;
    font-size: 16px;


  }
}
#value-range {
  font-size: 25px;
  font-weight: 700;
  padding-top: 23px;
  color: black;
}
// footer des buttons de navigation
.footer-buttons {
  position: relative;
  height: 12vh;
  margin: 0 20px;
  a {
    color: black;  }
}
.backward {
  position: absolute;
  bottom: 20px;
  left: 0px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  padding: 7px;
  border-radius: 20px;

}
.forward {
  position: absolute;
  bottom: 10px;
  right: -20px;
  a {
    p {
      color: red;
      position: absolute;
    }

  }
}
