<div class="main-container-profilecreation">

  <div class="header-profilecreation">
    <div class="col s10">
      <div class="header-profilecreation-name">
       <h4><%= @membre.fisrt_name %></h4>
      </div>
    </div>
    <div class="header-profilecreation-photo col s2">
      <%= cl_image_tag("c1ebkvku00vcgo8fw7qv.png", height: 40, :gravity=>"face", :radius=>1000)%>
    </div>
  </div>

  <div class="content-profilecreation" id="transferts-new-content">
    <h4>Programmez un versement sur cette poche</h4>
    <%= simple_form_for @transfert, url: page_membre_transferts_path(@user, @membre) do |f| %>
      <div class="center" id="value-range" >
        <p>40€</p>
      </div>
      <div class="range-container">
        <p class="range-field col-xs-12 my-range">
          <input aria-required="true" name="transfert[value]" type="range" id="test3" min="0" max="250" />
        </p>
      </div>

      <div class="row">


        <div class="col s12">
          <div class="form-group select optional transfert_frequence">
            <select class="form-control select optional" name="transfert[frequence]">
              <option value="Par mois">Tous les 1er du mois</option>
              <option value="Par semaine">Tous les débuts de semaines</option>
              <option value="Par jours">Tous les jours</option>
            </select>
          </div>
        </div>
      </div>
      <div class="center">
        <%= f.submit "Creer un versement", class: 'btn blue' %>

      </div>

      <% end %>

  </div>

  <div class="footer-buttons">
    <div class="forward" >
      <a class=" btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons">arrow_forward</i>
      </a>

    </div>
    <div class="backward">
      <a href="javascript:history.back()">
        <i class="material-icons">arrow_back</i>
      </a>
    </div>
  </div>

</div>
