.btn-form {
  width: 250px;
  height: 55px;
  border-radius: 27.5px;
  margin: 0 10vw;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 16px !important;
  background: linear-gradient(to right, #015592 , #00406F);
}

.button-wf {
  text-align: center;
  font-weight: 700 !important;
  width: 250px;
  height: 55px;
  border-radius: 27.5px;
  margin: 7vh 10vw;
  background: linear-gradient(to right, #015592 , #00406F);
  font-family: 16px !important;
  text-transform: uppercase;
  font-weight: 700;

}

.add-badge {
  position: absolute;
  text-align: center;
  position: absolute;
  right: 0px;
  margin: 20px 10px;
  background-color: gray;
  border: 2px solid black;
  border-radius: 25px;
  height: 50px;
  padding-top: 8px;
  width: 50px;
}
.btn-container {
  padding: 25px;
  position: absolute;
  bottom: 0px;
 }

 #btn-container-paiement {
  padding: 25px;
  position: relative;
  bottom: 0px;
 }
