.form_container {
  margin: 20px 20px;

  h2 {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 20vh;
  }
}



input {
    border-radius: 21px;
    }
.form-inputs {
    margin-bottom: 20vh;

}
.form-control {
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid gray !important;
  border-top: none;
  background-color: white;
  box-shadow: none !important;
  opacity: 0.5;

}

.edit-form {
  display: inline;
}
