.container-kids {
  overflow: scroll;
  height: 90vh;
  position: relative;
}
.container-ask {
  overflow: hidden;
  height: 93vh;
  position: relative;
}





.background-circle {
  border-radius: 409px;
  position: absolute;
  height: 960px;
  width: 833px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.08);
  left: -200px;
  bottom: -480px;
}
