.container-kids {
  overflow: scroll;
  height: 90vh;
  position: relative;
}
.container-ask {
  overflow: hidden;
  height: 93vh;
  width: 100%;
  top: 100vh;
  position: fixed;
  z-index: 3000;
  transition: top .3s ease-out;
  -webkit-transition: top .3s ease-out;
  &.visible {
    top: 0;
  }
}

.background-circle {
  border-radius: 409px;
  position: absolute;
  height: 960px;
  width: 833px;
  overflow: hidden;
  background-color: #EBEBEB;
  left: -204px;
  bottom: -400px
}
