<div class="grey-b">

  <div class="header-profilecreation">
    <div class="col s10">
      <div class="header-profilecreation-name">
       <h4><%= @membre.fisrt_name %>Raphael</h4>
      </div>
    </div>
    <div class="header-profilecreation-photo col s2">
      <%= image_tag 'teen.jpg', height: 40, width: 40, class: "img-circle"%>
    </div>

  </div>

  <div class="container-poche-creation">
    <div style="margin: 0 auto" id="test1" class="pocket">
      <%= image_tag 'visa-card.png', class: 'vise-pics' %>
    </div>
  </div>
</div>


<div class="main-container-profilecreation">
  <div class="content-profilecreation">
    <h3 style="margin: 20px;
    font-size: 20px;" >Paramétrez son moyen de paiement</h3>
    <h5>Ceci est la carte de paiement avec la quelle Raphael pourra payer. <br> Rassurez vous, vous avez les controlle sur l'utilisation de la carte!</h5>
    <%= simple_form_for @paiement, url: page_membre_paiements_path  do |f| %>




      <div class="center" id="value-range" >
        <p>40€</p>
      </div>
      <div class="range-container">
        <p class="range-field col-xs-12 my-range">
          <input aria-required="true" name="transfert[value]" type="range" id="test3" min="0" max="250" />
        </p>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="form-group select optional transfert_frequence">
            <select class="form-control select optional" name="transfert[frequence]">
              <option value="Par mois">Tous les 1er du mois</option>
              <option value="Par semaine">Tous les débuts de semaines</option>
              <option value="Par jours">Tous les jours</option>
            </select>
          </div>
        </div>
      </div>

      <% end %>


  <div style="bottom: -40px;" class="footer-buttons">
    <div class="right" >
      <a href="../profilecreation" class=" btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons">arrow_forward</i>
      </a>

    </div>
    <div class="left">
      <a href="javascript:history.back()">
        <i class="material-icons">arrow_back</i>retour
      </a>
    </div>

</div>
